In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('nfs_produtos.csv')

In [4]:
df.head()

,Arquivo PDF,Código Produto,Descrição,Unidade,Quantidade,Valor Unitário,Valor Total,Data de Emissão
0,0746478 - OV_12662148.pdf,1C00151M6,1C00151M6 MOCHILA PARA FERRAMENTAS E NOTEBOOK ...,2.92780,20,146.39,2.927.80,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
1,0746478 - OV_12662148.pdf,1P02136M3_5,1P02136M3_5 PEN DRIVE 32GB ­ VELOCIDADE 3.0 39...,2.50360,40,62.59,2.503.60,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
2,0746478 - OV_12662148.pdf,1X00654M3E,1X00654M3E LANTERNA PEQUENA ­ LEEDS 85131010 0...,1.13385,15,75.59,1.133.85,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
3,0746478 - OV_12662148.pdf,1X00644M1E_5,1X00644M1E_5 LIMA PEQUENA COM CABO FIXO 820310...,0.00000,20,13.27,265.40,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
4,0746478 - OV_12662148.pdf,5830000001,5830000001 MANTA ANTIESTATICA 040X060CM 2 BOLS...,2.58460,20,129.23,2.584.60,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Arquivo PDF      158 non-null    object
 1   Código Produto   158 non-null    object
 2   Descrição        158 non-null    object
 3   Unidade          158 non-null    float64
 4   Quantidade       158 non-null    int64
 5   Valor Unitário   158 non-null    float64
 6   Valor Total      158 non-null    object
 7   Data de Emissão  158 non-null    object
dtypes: float64(2), int64(1), object(5)
memory usage: 10.0+ KB

In [6]:
print(df.dtypes)

Arquivo PDF         object
Código Produto      object
Descrição           object
Unidade            float64
Quantidade           int64
Valor Unitário     float64
Valor Total         object
Data de Emissão     object
dtype: object

In [ ]:
df['Valor Total'] = df['Valor Total'].str.replace('.', '', regex=True)
df['Valor Total'] = df['Valor Total'].str.replace(',', '.', regex=True)
df['Valor Total'] = pd.to_numeric(df['Valor Total'], errors='coerce')

In [10]:
print(df.dtypes)

Arquivo PDF         object
Código Produto      object
Descrição           object
Unidade            float64
Quantidade           int64
Valor Unitário     float64
Valor Total        float64
Data de Emissão     object
dtype: object

In [11]:
df.describe()

            Unidade  Quantidade  Valor Unitário  Valor Total
count    158.000000  158.000000      158.000000          0.0
mean   18319.812548   16.322785       50.141076          NaN
std    23449.758642   12.520184       38.810731          NaN
min        0.000000    1.000000        1.490000          NaN
25%        1.179700    5.000000       17.187500          NaN
50%     8070.000000   15.000000       40.840000          NaN
75%    27060.000000   25.000000       71.730000          NaN
max    97932.000000   50.000000      174.780000          NaN

In [12]:
df = df.drop('Unidade', axis=1)

In [13]:
df.head()

,Arquivo PDF,Código Produto,Descrição,Quantidade,Valor Unitário,Valor Total,Data de Emissão
0,0746478 - OV_12662148.pdf,1C00151M6,1C00151M6 MOCHILA PARA FERRAMENTAS E NOTEBOOK ...,20,146.39,NaN,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
1,0746478 - OV_12662148.pdf,1P02136M3_5,1P02136M3_5 PEN DRIVE 32GB ­ VELOCIDADE 3.0 39...,40,62.59,NaN,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
2,0746478 - OV_12662148.pdf,1X00654M3E,1X00654M3E LANTERNA PEQUENA ­ LEEDS 85131010 0...,15,75.59,NaN,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
3,0746478 - OV_12662148.pdf,1X00644M1E_5,1X00644M1E_5 LIMA PEQUENA COM CABO FIXO 820310...,20,13.27,NaN,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...
4,0746478 - OV_12662148.pdf,5830000001,5830000001 MANTA ANTIESTATICA 040X060CM 2 BOLS...,20,129.23,NaN,SIMPRESS COMÉRCIO LOCAÇÃO E SERVIÇOS LTDA 0743...